<div class="col-sm-12 col-md-4 col-md-offset-1">
    <h3>Actualités</h3>
    {% for post in posts %}
        {% set params = get_post_params(args, post) %}
        <div class="news">
            <time datetime="{{ post.updated_at.date | date('Y-m-d') }}">{{ post.updated_at.date | date("d") }}<span>{{ post.updated_at.date | date("M") }}</span></time>
            <div class="extra_wrapper">
                <p class="color1"><a href="{{ link(route,params) }}">{{ post.title }}</a></p>
                {{ post.description }}
            </div>
        </div>
    {% endfor %}
</div>

