{% extends template_from_string(data.website_layout) %}

{% block page %}

    {% set home_slider = field_render('home_slider', 'page') %}
    <div class="slider_wrapper">
        <div id="camera_wrap" class="">
            {% for slide in home_slider %}
            <div data-src="{{ img(slide.image.path) }}">
                <div class="caption fadeIn">
                    {{ slide.title }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--==============================Content=================================-->
    <div class="content">
        <section class="container">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="center">{{ field_render('home_baseline', 'page') }}</h2>
                    <div class="count_wrap">
                        <div id="counter"></div>
                        <div class="clear"></div>
                        <a href="{{ booking_link }}">Participer</a>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                {% set home_boxes = field_render('home_boxes', 'page') %}
                {% for box in home_boxes %}
                <div class="col-md-{{ field_render('home_box_grid', 'page') }}">
                    <div class="box">
                        <div class="box_title">{{ box.title }}</div>
                        <div class="box_bot">
                            <div class="centered">
                                <img src="{{ img(box.image.path) }}" alt="{{ box.image.alt }}"><br>
                                <a href="{{ box.link }}">Voir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="clear"></div>
            </div>
        </section>
        <section class="container">
            <div class="row">

                {% set about_us = field_render('home_left_block', 'page') %}
                <div class="col-md-7 col-sm-12">
                    <h3>{{ about_us.title }}</h3>
                    <img src="{{ img(about_us.thumbnail.path) }}" alt="{{ about_us.thumbnail.alt }}" class="img_inner fleft">
                    <div>
                        {{ about_us.description }}
                    </div>
                    <a href="{{ link('module:post.type:dynamic.action:read',{'slug': about_us.slug}) }}" class="btn">Voir plus</a>
                </div>

                {{ content_render('home_list_news') | raw }}

                <div class="clear"></div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hor_separator hor__1"></div>
                    <h3>Témoignages</h3>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row">
                {% set testimonials = field_render('home_testimonials', 'page') %}
                {% for testimonial in testimonials %}
                <div class="col-md-4 col-sm-12 mb10">
                    <blockquote class="bq1">
                        <p>{{ testimonial.content }}</p>
                        <div class="alright">{{ testimonial.user }}</div>
                    </blockquote>
                </div>
                {% endfor %}
                <div class="clear"></div>

            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ theme_asset('jquery.countdown.js') }}"></script>
    <script>
        $('#counter').countdown({timestamp:(new Date("{{ field_render('home_counter', 'page') }}")).getTime()});
    </script>
{% endblock %}